################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/gitignore.txt
/.vs/test.slnx/v18
/practice/.vs/practice/v18
